<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>You suck at Driving!</title>
  <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>

<body>
<header>
    <h1>Bad Drivers</h1>
</header>
<nav>
    <a href="Submit">Submit it</a>
    <a href="Comments">Worst of the Worst</a>
    <a href="Search">Search Bar</a>
</nav>
    <main class="Login container">


    </main>

    
</body>





</html>